{% set exporters = salt['grains.filter_by']({
    'Suse': {
        'node_exporter_package': 'golang-github-prometheus-node_exporter',
        'node_exporter_service': 'prometheus-node_exporter',
        'node_exporter_service_config': '/etc/sysconfig/prometheus-node_exporter',
        'apache_exporter_package': 'golang-github-lusitaniae-apache_exporter',
        'apache_exporter_service': 'prometheus-apache_exporter',
        'apache_exporter_service_config': '/etc/sysconfig/prometheus-apache_exporter',
        'postgres_exporter_package': 'prometheus-postgres_exporter',
        'postgres_exporter_service': 'prometheus-postgres_exporter',
        'postgres_exporter_service_config': '/etc/systemd/system/prometheus-postgres_exporter.service.d/60-suse-salt-formula.conf',
        'postgres_exporter_password_file': '/etc/postgres_exporter/pg_passwd',
        'exporter_exporter_package': 'golang-github-QubitProducts-exporter_exporter',
        'exporter_exporter_service': 'prometheus-exporter_exporter',
        'exporter_exporter_service_config': '/etc/sysconfig/prometheus-exporter_exporter',
    },
    'Debian': {
        'node_exporter_package': 'prometheus-node-exporter',
        'node_exporter_service': 'prometheus-node-exporter',
        'node_exporter_service_config': '/etc/default/prometheus-node-exporter',
        'apache_exporter_package': 'prometheus-apache-exporter',
        'apache_exporter_service': 'prometheus-apache-exporter',
        'apache_exporter_service_config': '/etc/default/prometheus-apache-exporter',
        'postgres_exporter_package': 'prometheus-postgres-exporter',
        'postgres_exporter_service': 'prometheus-postgres-exporter',
        'postgres_exporter_service_config': '/etc/systemd/system/prometheus-postgres_exporter.service.d/60-suse-salt-formula.conf',
        'postgres_exporter_password_file': '/etc/postgres_exporter/pg_passwd',
        'exporter_exporter_package': 'prometheus-exporter-exporter',
        'exporter_exporter_service': 'prometheus-exporter-exporter',
        'exporter_exporter_service_config': '/etc/systemd/system/prometheus-exporter-exporter.service.d/uyuni.conf',
    },
    'RedHat': {
        'node_exporter_package': 'golang-github-prometheus-node_exporter',
        'node_exporter_service': 'prometheus-node_exporter',
        'node_exporter_service_config': '/etc/sysconfig/prometheus-node_exporter',
        'apache_exporter_package': 'golang-github-lusitaniae-apache_exporter',
        'apache_exporter_service': 'prometheus-apache_exporter',
        'apache_exporter_service_config': '/etc/sysconfig/prometheus-apache_exporter',
        'postgres_exporter_package': 'prometheus-postgres_exporter',
        'postgres_exporter_service': 'prometheus-postgres_exporter',
        'postgres_exporter_service_config': '/etc/systemd/system/prometheus-postgres_exporter.service.d/60-suse-salt-formula.conf',
        'postgres_exporter_password_file': '/etc/postgres_exporter/pg_passwd',
    },
}, merge=salt['pillar.get']('exporters:lookup')) %}
