{% set dhcpd = salt['grains.filter_by']({
    'Arch': {
        'server': 'dhcp',
        'service': 'dhcpd4',
        'config': '/etc/dhcpd.conf',
    },
    'Debian': {
        'server': 'isc-dhcp-server',
        'service': 'isc-dhcp-server',
        'config': '/etc/dhcp/dhcpd.conf',
        'service_config': '/etc/default/isc-dhcp-server',
    },
    'RedHat': {
        'server': 'dhcp',
        'service': 'dhcpd',
        'config': '/etc/dhcp/dhcpd.conf',
    },
    'FreeBSD': {
        'server': 'isc-dhcp43-server',
        'service': 'isc-dhcpd',
        'config': '/usr/local/etc/dhcpd.conf',
        'service_config': '/etc/rc.conf.d/dhcpd',
    },
    'Suse': {
        'server': 'dhcp-server',
        'service': 'dhcpd',
        'config': '/etc/dhcpd.conf',
        'service_config': '/etc/sysconfig/dhcpd',
    },
}, merge=salt['grains.filter_by']({
    'SL-Micro': {
        'server': 'kea',
        'service': 'kea-container',
        'config': '/etc/kea/kea-dhcp4.conf',
        'image': 'registry.suse.com/suse/kea:2.6',
        'kea_3_0': False,
        'container': True,
    },
    'openSUSE Leap Micro': {
        'server': 'kea',
        'service': 'kea-container',
        'config': '/etc/kea/kea-dhcp4.conf',
        'image': 'registry.opensuse.org/opensuse/kea:latest',
        'kea_3_0': True,
        'container': True,
    }
}, grain='osfullname', merge=salt['grains.filter_by']({
  'SUSE Linux Enterprise Server 15 SP7': {
        'server': 'kea',
        'service': 'kea-container',
        'config': '/etc/kea/kea-dhcp4.conf',
        'image': 'registry.suse.com/suse/kea:2.6',
        'kea_3_0': False,
        'container': True,
  },
}, grain='oscodename', merge=salt['pillar.get']('dhcpd:lookup')))) %}
