# This file is part of locale-formula.
#
# Foobar is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Foobar is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Foobar.  If not, see <http://www.gnu.org/licenses/>.

{% set map = {
    'Debian': {
        'path_localtime': '/etc/localtime',
        'path_zoneinfo': '/usr/share/zoneinfo/',
        'pkgname': 'tzdata',
        'loc_pkg': 'locales',
    },
    'RedHat': {
        'path_localtime': '/etc/localtime',
        'path_zoneinfo': '/usr/share/zoneinfo/',
        'pkgname': 'tzdata',
        'loc_pkg': 'glibc-common',
    },
    'Suse': {
        'path_localtime': '/etc/localtime',
        'path_zoneinfo': '/usr/share/zoneinfo/',
        'pkgname': 'timezone',
        'loc_pkg': 'glibc-locale',
    },
    'lang_map': {
				'Afrikaans': 'af_ZA.UTF-8',
				'Arabic': 'ar_EG.UTF-8',
				'Asturian': 'ast_ES.UTF-8',
				'Bulgarian': 'bg_BG.UTF-8',
				'Bengali': 'bn_BD.UTF-8',
				'Bosnian': 'bs_BA.UTF-8',
				'Catalan': 'ca_ES.UTF-8',
				'Czech': 'cs_CZ.UTF-8',
				'Welsh': 'cy_GB.UTF-8',
				'Danish': 'da_DK.UTF-8',
				'German': 'de_DE.UTF-8',
				'Greek': 'el_GR.UTF-8',
				'English (UK)': 'en_GB.UTF-8',
				'English (US)': 'en_US.UTF-8',
				'Spanish': 'es_ES.UTF-8',
				'Estonian': 'et_EE.UTF-8',
				'Finnish': 'fi_FI.UTF-8',
				'French': 'fr_FR.UTF-8',
				'Galician': 'gl_ES.UTF-8',
				'Gujarati': 'gu_IN.UTF-8',
				'Hebrew': 'he_IL.UTF-8',
				'Hindi': 'hi_IN.UTF-8',
				'Croatian': 'hr_HR.UTF-8',
				'Hungarian': 'hu_HU.UTF-8',
				'Indonesian': 'id_ID.UTF-8',
				'Italian': 'it_IT.UTF-8',
				'Japanese': 'ja_JP.UTF-8',
				'Georgian': 'ka_GE.UTF-8',
				'Khmer': 'km_KH.UTF-8',
				'Korean': 'ko_KR.UTF-8',
				'Lithuanian': 'lt_LT.UTF-8',
				'Macedonian': 'mk_MK.UTF-8',
				'Marathi': 'mr_IN.UTF-8',
				'Norwegian': 'nb_NO.UTF-8',
				'Dutch': 'nl_NL.UTF-8',
				'Nynorsk': 'nn_NO.UTF-8',
				'Punjabi': 'pa_IN.UTF-8',
				'Polish': 'pl_PL.UTF-8',
				'Portuguese (Brazilian)': 'pt_BR.UTF-8',
				'Portuguese': 'pt_PT.UTF-8',
				'Romanian': 'ro_RO.UTF-8',
				'Russian': 'ru_RU.UTF-8',
				'Sinhala': 'si_LK.UTF-8',
				'Slovak': 'sk_SK.UTF-8',
				'Slovenian': 'sl_SI.UTF-8',
				'Serbian': 'sr_RS.UTF-8',
				'Swedish': 'sv_SE.UTF-8',
				'Tamil': 'ta_IN.UTF-8',
				'Tajik': 'tg_TJ.UTF-8',
				'Thai': 'th_TH.UTF-8',
				'Turkish': 'tr_TR.UTF-8',
				'Ukrainian': 'uk_UA.UTF-8',
				'Vietnamese': 'vi_VN.UTF-8',
				'Walloon': 'wa_BE.UTF-8',
				'Xhosa': 'xh_ZA.UTF-8',
				'Simplified Chinese': 'zh_CN.UTF-8',
				'Traditional Chinese': 'zh_TW.UTF-8',
				'Zulu': 'zu_ZA.UTF-8'
    },
    'kb_map': {
        'Arabic': 'arabic',
        'Belgian': 'be',
        'Canadian (Multilingual)': 'ca-multix',
        'Croatian': 'hr',
        'Czech': 'cz',
        'Czech (qwerty)': 'cz-qwerty',
        'Danish': 'dk',
        'Dutch': 'nl',
        'Dvorak': 'us-dvorak',
        'English (UK)': 'gb',
        'English (US)': 'us',
        'Estonian': 'ee',
        'Finnish': 'fi-kotoistus',
        'French': 'fr',
        'French (Canada)': 'ca',
        'French (Switzerland)': 'ch-fr',
        'German': 'de-nodeadkeys',
        'German (Switzerland)': 'ch-de_nodeadkeys',
        'German (with deadkeys)': 'de',
        'Greek': 'gr',
        'Hungarian': 'hu',
        'Icelandic': 'is',
        'Italian': 'it',
        'Japanese': 'jp',
        'Khmer': 'khmer',
        'Korean': 'kr',
        'Lithuanian': 'lt',
        'Norwegian': 'no',
        'Polish': 'pl',
        'Portuguese': 'pt',
        'Portuguese (Brazil)': 'br',
        'Portuguese (Brazil  US accents)': 'us-intl',
        'Romanian': 'ro',
        'Russian': 'ruwin_alt-UTF-8',
        'Serbian': 'sr-cy',
        'Simplified Chinese': 'us',
        'Slovak': 'sk',
        'Slovak (qwerty)': 'sk-qwerty',
        'Slovene': 'si',
        'Spanish': 'es',
        'Spanish (Asturian variant)': 'es-ast',
        'Spanish (CP 850)': 'es',
        'Spanish (Latin America)': 'latam',
        'Swedish': 'se',
        'Tajik': 'tj_alt-UTF8',
        'Traditional Chinese': 'us',
        'Turkish': 'tr',
        'Ukrainian': 'ua-utf',
        'US International': 'us-intl'
    }

} %}

{% set confmap = map.get(grains.os_family) %}
