{% set map = {
    'cpu_opt': {
    'Auto'           : 'mitigations=auto',
    'Auto + No SMT'  : 'mitigations=auto,nosmt',
    'Off'            : 'mitigations=off',
    'Manual'         : '',
    },
   'grub_line': {
    'default'        : 'GRUB_CMDLINE_LINUX_DEFAULT',
    '15'             : 'GRUB_CMDLINE_LINUX_DEFAULT',
    '12'             : 'GRUB_CMDLINE_LINUX',
    },
  }
%}
