{% set map = {
    'cpu_opt': {
    'Auto'           : 'mitigations=auto',
    'Auto + No SMT'  : 'mitigations=auto,nosmt',
    'Off'            : 'mitigations=off',
    'Manual'         : '',
    },
  }
%}
