hypervisor: KVM
default_pool_enabled: True
default_net_enabled: True
default_pool:
  path: /var/lib/libvirt/images
default_net:
  mode: NAT
  ipv4:
    gateway: 192.168.122.1
    prefix: 24
    dhcp_start: 192.168.122.2
    dhcp_end: 192.168.122.254
  ipv6:
    gateway: 2001:db8:ca2:2::1
    prefix: 64
tuning:
  hugepages_size: 1GB
  hugepages_count: 1900
  disable_numa_balancing: True
  disable_irq_balancing: True
  disable_ksm: True
