proxy_enabled: True
proxy_port: 9999

node_exporter:
  enabled: True
  address: ':9100'
  args:

apache_exporter:
  enabled: False
  address: ':9117'
  args:

postgres_exporter:
  enabled: False
  address: ':9187'
  data_source_name: postgresql://user:passwd@localhost:5432/database?sslmode=disable
  args:


# SAP/HA exporters:
ha_cluster_exporter:
  enabled: False
  address: ':9664'
  args:

sap_host_exporter:
  enabled: False
  address: ':9680'
  args:

hanadb_exporter:
  enabled: False
  address: ':9668'
  args:
