{% set map = {
    'Debian': {
        'path_localtime': '/etc/localtime',
        'path_zoneinfo': '/usr/share/zoneinfo/',
        'pkgname': 'tzdata',
        'loc_pkg': 'locales',
    },
    'RedHat': {
        'path_localtime': '/etc/localtime',
        'path_zoneinfo': '/usr/share/zoneinfo/',
        'pkgname': 'tzdata',
        'loc_pkg': 'glibc-common',
    },
    'Suse': {
        'path_localtime': '/etc/localtime',
        'path_zoneinfo': '/usr/share/zoneinfo/',
        'pkgname': 'timezone',
        'loc_pkg': 'glibc-locale',
    },
    'lang_map': {
				'Afrikaans': 'af_ZA.UTF-8',
				'Arabic': 'ar_EG.UTF-8',
				'Asturian': 'ast_ES.UTF-8',
				'Bulgarian': 'bg_BG.UTF-8',
				'Bengali': 'bn_BD.UTF-8',
				'Bosnian': 'bs_BA.UTF-8',
				'Catalan': 'ca_ES.UTF-8',
				'Czech': 'cs_CZ.UTF-8',
				'Welsh': 'cy_GB.UTF-8',
				'Danish': 'da_DK.UTF-8',
				'German': 'de_DE.UTF-8',
				'Greek': 'el_GR.UTF-8',
				'English (UK)': 'en_GB.UTF-8',
				'English (US)': 'en_US.UTF-8',
				'Spanish': 'es_ES.UTF-8',
				'Estonian': 'et_EE.UTF-8',
				'Finnish': 'fi_FI.UTF-8',
				'French': 'fr_FR.UTF-8',
				'Galician': 'gl_ES.UTF-8',
				'Gujarati': 'gu_IN.UTF-8',
				'Hebrew': 'he_IL.UTF-8',
				'Hindi': 'hi_IN.UTF-8',
				'Croatian': 'hr_HR.UTF-8',
				'Hungarian': 'hu_HU.UTF-8',
				'Indonesian': 'id_ID.UTF-8',
				'Italian': 'it_IT.UTF-8',
				'Japanese': 'ja_JP.UTF-8',
				'Georgian': 'ka_GE.UTF-8',
				'Khmer': 'km_KH.UTF-8',
				'Korean': 'ko_KR.UTF-8',
				'Lithuanian': 'lt_LT.UTF-8',
				'Macedonian': 'mk_MK.UTF-8',
				'Marathi': 'mr_IN.UTF-8',
				'Norwegian': 'nb_NO.UTF-8',
				'Dutch': 'nl_NL.UTF-8',
				'Nynorsk': 'nn_NO.UTF-8',
				'Punjabi': 'pa_IN.UTF-8',
				'Polish': 'pl_PL.UTF-8',
				'Portuguese (Brazilian)': 'pt_BR.UTF-8',
				'Portuguese': 'pt_PT.UTF-8',
				'Romanian': 'ro_RO.UTF-8',
				'Russian': 'ru_RU.UTF-8',
				'Sinhala': 'si_LK.UTF-8',
				'Slovak': 'sk_SK.UTF-8',
				'Slovenian': 'sl_SI.UTF-8',
				'Serbian': 'sr_RS.UTF-8',
				'Swedish': 'sv_SE.UTF-8',
				'Tamil': 'ta_IN.UTF-8',
				'Tajik': 'tg_TJ.UTF-8',
				'Thai': 'th_TH.UTF-8',
				'Turkish': 'tr_TR.UTF-8',
				'Ukrainian': 'uk_UA.UTF-8',
				'Vietnamese': 'vi_VN.UTF-8',
				'Walloon': 'wa_BE.UTF-8',
				'Xhosa': 'xh_ZA.UTF-8',
				'Simplified Chinese': 'zh_CN.UTF-8',
				'Traditional Chinese': 'zh_TW.UTF-8',
				'Zulu': 'zu_ZA.UTF-8'
    },
    'kb_map': {
        'Arabic': 'arabic.map.gz',
        'Belgian': 'be.map.gz',
        'Canadian (Multilingual)': 'ca-multix.map.gz',
        'Croatian': 'hr.map.gz',
        'Czech': 'cz.map.gz',
        'Czech (qwerty)': 'cz-qwerty.map.gz',
        'Danish': 'dk.map.gz',
        'Dutch': 'nl.map.gz',
        'Dvorak': 'us-dvorak.map.gz',
        'English (UK)': 'gb.map.gz',
        'English (US)': 'us.map.gz',
        'Estonian': 'ee.map.gz',
        'Finnish': 'fi-kotoistus.map.gz',
        'French': 'fr.map.gz',
        'French (Canada)': 'ca.map.gz',
        'French (Switzerland)': 'ch-fr.map.gz',
        'German': 'de-nodeadkeys.map.gz',
        'German (Switzerland)': 'ch-de_nodeadkeys.map.gz',
        'German (with deadkeys)': 'de.map.gz',
        'Greek': 'gr.map.gz',
        'Hungarian': 'hu.map.gz',
        'Icelandic': 'is.map.gz',
        'Italian': 'it.map.gz',
        'Japanese': 'jp.map.gz',
        'Khmer': 'khmer.map.gz',
        'Korean': 'kr.map.gz',
        'Lithuanian': 'lt.map.gz',
        'Norwegian': 'no.map.gz',
        'Polish': 'pl.map.gz',
        'Portuguese': 'pt.map.gz',
        'Portuguese (Brazil)': 'br.map.gz',
        'Portuguese (Brazil  US accents)': 'us-intl.map.gz',
        'Romanian': 'ro.map.gz',
        'Russian': 'ruwin_alt-UTF-8.map.gz',
        'Serbian': 'sr-cy.map.gz',
        'Simplified Chinese': 'us.map.gz',
        'Slovak': 'sk.map.gz',
        'Slovak (qwerty)': 'sk-qwerty.map.gz',
        'Slovene': 'si.map.gz',
        'Spanish': 'es.map.gz',
        'Spanish (Asturian variant)': 'es-ast.map.gz',
        'Spanish (CP 850)': 'es.map.gz',
        'Spanish (Latin America)': 'latam.map.gz',
        'Swedish': 'se.map.gz',
        'Tajik': 'tj_alt-UTF8.map.gz',
        'Traditional Chinese': 'us.map.gz',
        'Turkish': 'tr.map.gz',
        'Ukrainian': 'ua-utf.map.gz',
        'US International': 'us-intl.map.gz'         
    } 

} %}

{% set confmap = map.get(grains.os_family) %}
